body {
  background-image: url('wood_pattern.png');
  font-family: 'Open Sans', sans-serif;
}

nav.navbar {
  background-color: white;
  background-image: none;
  border-radius: 0;
  min-height: 80px;
}

div.navbar-header, ul.nav.navbar-nav {
  margin-top: 15px;
}

a.navbar-brand {
  color: black;
  text-transform: uppercase;
}

ul.nav.navbar-nav > li > a {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  margin-left: 35px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

ul.nav.navbar-nav > li.active > a, ul.nav.navbar-nav > li.active > a:hover {
  background-color: white;
  background-image: none;
  border-bottom: 5px solid #c40022;
  box-shadow: none;
  color: #333;
}

ul.nav.navbar-nav > li > a:hover {
  border-bottom: 5px solid;
  color: #333;
}

div.navbar-collapse {
  border:none;
}

a.asc:after {
  content:" \2191";
}

a.desc:after {
  content:" \2193";
}

a.edit-title-activator {
  cursor: pointer;
}

@media (max-width: 768px){
  div#navbar-collapse-1 {
  	background-color: #333;
  }

  ul.nav.navbar-nav {
  	padding: 0 30%;
  }

  ul.nav.navbar-nav li a {
  	background-color: transparent;
    border: none;
    color: white;
    margin-left: 0;
  	text-align: center;
  }

  ul.nav.navbar-nav > li.active > a, ul.nav.navbar-nav > li.active > a:hover {
    background-color: #c40022;
    background-image: none;
	  border-bottom: none;
	  box-shadow: none;
	  color: white;
    color: white;
	}

  ul.nav.navbar-nav li a:hover {
    background-color: black;
    border-bottom: none;
    color: white;
    cursor: pointer;
  }
}